<div id="dashboard-container" class="container" style="border-radius: 16px; border: 1px solid #ccc; margin-top:20px">

  <br/>
  <div class="text-center h3">
    Dashboard
  </div>

  <hr/>
  <br/>

  <p><% @string %></p>

</div>
