
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <span class="text">
      <h1>FaceyFaceyFilmBook<span style="padding-left:150px;font-size:18px;font-style: italic;">"Of all the film apps in all the world..."</span></h1>
    </span>
    <span style="float: right;">
    </span>
  </nav>

  <h1 style="text-align:center">Days of Heaven</h1>
  <div style="text-align:center">
    <iframe width="420" height="315"
      src='https://www.youtube.com/embed/XVbg9xc7tGc' frameborder="0" allowfullscreen>
    </iframe>
  </div>

  <div class="container" style="text-align:center">
    <h2>If you liked this, you may also like:</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: auto;;width: 250px; height:250px;">

    <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="https://image.tmdb.org/t/p/w780//yAFn7Bc80pF98DOxRs85d78jWbD.jpg"  alt="Badlands" style="width:100%;">
          <div class="carousel-caption">
            <h3 class="text">Badlands</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//hIjOdQW7vRHjK3VBEYC3fRTfi52.jpg"  alt="Il conformista" style="width:100%;">
          <div class="carousel-caption">
            <h3>Il conformista</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//wI0TyRjiWWMpxP1TVOzSJnxQbn3.jpg"  alt="Au hasard Balthazar" style="width:100%;">
          <div class="carousel-caption">
            <h3>Au hasard Balthazar</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//yEnLvpbX5c3cUsBqXBufoOzjO00.jpg"  alt="Brief Encounter" style="width:100%;">
          <div class="carousel-caption">
            <h3>Brief Encounter</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//bMmbAvCJ9ZLgCQq0YxygOMQxzEZ.jpg"  alt="The Sweet Hereafter" style="width:100%;">
          <div class="carousel-caption">
            <h3>The Sweet Hereafter</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//6EJ4JoTxnH1QmGTE9pPzgtW1cLW.jpg"  alt="A Woman Under the Influence" style="width:100%;">
          <div class="carousel-caption">
            <h3>A Woman Under the Influence</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//lWg41zE0FVixkNsFgxnlRyvDYv9.jpg"  alt="La Grande Illusion" style="width:100%;">
          <div class="carousel-caption">
            <h3>La Grande Illusion</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//sq2HpOW7PLWmOcofQrA9NoEyZI0.jpg"  alt="The Last Picture Show" style="width:100%;">
          <div class="carousel-caption">
            <h3>The Last Picture Show</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//buuKUShkNWfF5clxVE2pGCBFu81.jpg"  alt="McCabe & Mrs. Miller" style="width:100%;">
          <div class="carousel-caption">
            <h3>McCabe & Mrs. Miller</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//7f8ROxooI3fn85CVqIG5QwPFsdE.jpg"  alt="Un condamné à mort s'est échappé" style="width:100%;">
          <div class="carousel-caption">
            <h3>Un condamné à mort s'est échappé</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//dZBi7DSd3zjraZY1mxYeI5JohOr.jpg"  alt="Sweet Smell of Success" style="width:100%;">
          <div class="carousel-caption">
            <h3>Sweet Smell of Success</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//m24cAinJzgANhjQ1vKHLhCUhR3R.jpg"  alt="Stranger Than Paradise" style="width:100%;">
          <div class="carousel-caption">
            <h3>Stranger Than Paradise</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//zFDtirgBArEMNNhIUJvYA7k2tzn.jpg"  alt="Jungfrukällan" style="width:100%;">
          <div class="carousel-caption">
            <h3>Jungfrukällan</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//xGLkuMWigSPLBvWiENSMlVq56iE.jpg"  alt="Five Easy Pieces" style="width:100%;">
          <div class="carousel-caption">
            <h3>Five Easy Pieces</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//4payjKRO69Aew6Y53DfJ4KqhWs8.jpg"  alt="Repulsion" style="width:100%;">
          <div class="carousel-caption">
            <h3>Repulsion</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//dhgW1uGaRj8vIgq54VnCP96X7Sv.jpg"  alt="The Conversation" style="width:100%;">
          <div class="carousel-caption">
            <h3>The Conversation</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//e3oh96Zrqdaku8DoD10pXZHLZoU.jpg"  alt="Ordet" style="width:100%;">
          <div class="carousel-caption">
            <h3>Ordet</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//dgNTS4EQDDVfkzJI5msKuHu2Ei3.jpg"  alt="生きる" style="width:100%;">
          <div class="carousel-caption">
            <h3>生きる</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//hvSj4duLGAeXusBMKF7w7BKKsq5.jpg"  alt="Nashville" style="width:100%;">
          <div class="carousel-caption">
            <h3>Nashville</h3>
          </div>
        </div>

        <div class="carousel-item">
          <img src="https://image.tmdb.org/t/p/w780//amihqP51DyBx1CZ8ybEvR1v68zH.jpg"  alt="The New World" style="width:100%;">
          <div class="carousel-caption">
            <h3>The New World</h3>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
