<nav class="navbar navbar-light bg-light">
  <span class="text">
    <h1>FaceyFaceyFilmBook</h1>
  </span>
  <span style="float: right;">
    <% if @user %>
    <form method="POST" action="/sessions/destroy">
        <input class="btn btn-danger" type="submit" value="Log out">
    </form>
    <% end %>
  </span>
</nav>
