<nav class="navbar navbar-light bg-light">
  <span class="text">
    <h1><span>FaceyFaceyFilmBook</span><span style="padding-left:150px;font-size:18px;font-style: italic;">"Of all the film apps in all the world..."</span></h1>
  </span>
  <span style="float: right;">
    <% if @user %>
    <form method="POST" action="/sessions/destroy">
        <input class="btn btn-danger" type="submit" value="Log out">
    </form>
    <% end %>
  </span>
</nav>
