<nav class="navbar navbar-light bg-light">
  <span class="text">
    <h1>FaceyFaceyFilmBook</h1>
  </span>
  <span style="float: right;">
      <button type="button" class="btn btn-danger">Log Out</button>
  </span>
</nav>
