<form action="/" method="POST">
  <h3>
    Your Idea
  </h3>
  Title: <br/>
  <input type="text" name="idea-title"><br/><br/>
  Description: <br/>
  <textarea name="idea-description" cols="24" rows="3"></textarea><br/>
  <input type='submit'/>
</form>
</p>
