<head>
  <link rel="stylesheet" type="text/css" href="styles/index_style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>

<body>
<!-- First Parallax Section -->
<div class="jumbotron paral paralsec">
<h1 class="display-3">Welcome To FaceyFaceyFilmBook</h1>
<!-- <p class="lead"></p> -->
<p class="lead">
</p>
</div>

<!-- Second Parallax Section -->
<div class="jumbotron paral paralsec1">
<h1 class="display-3">FaceyFaceyFilmBook is the newest and greatest place to find *MORE STUFF HERE*</h1>
<!-- <p class="lead" style = "color: black;"></p> -->
<p class="lead">
</p>
</div>

<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec2">
<h1 class="display-3">Sign up to explore and discover new and exciting films now!</h1>
<!-- <p class="lead"></p> -->
<p class="lead">
</p>
</div>

<!-- Add More Parallax Sections Here -->

<!-- Footer Section -->
<footer class="wn-footer">
<div>
    <br>
    <a class="btn btn-primary btn-lg btn-md" href="/users/new" role="button">Sign Up</a>
    <a class="btn btn-primary btn-lg btn-md" href="/sessions/new" role="button">Sign In</a>
</div>
<br>
<p>
    <a href="#">Back to top</a>
</p>

</body>
