<head>
  <link rel="stylesheet" type="text/css" href="styles/index_style.css">
</head>

<body>

<header>
  <div id="header-index">
    <h1 id="index-page-logo" class="display-3">FACEYFACEYFILMBOOK</h1>
  </div>
</header>

<!-- First Parallax Section -->
<div id="branding" class="jumbotron paral paralsec rounded-0">

  <div id="blue-block">
    <h1 id="blue-block-h1">
      A COMMUNITY FOR PASSIONATE FILM LOVERS.
    </h1>
  </div>

</div>

<!-- Second Parallax Section -->
<div class="jumbotron paral paralsec1 rounded-0">
  <div id="green-block">
    <h1 id="green-block-h1">
      EXPLORE & DISCOVER EXCITING FILMS AND SEE WHAT'S ON NEAR YOU.
    </h1>
  </div>
</div>

<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec2 rounded-0">
  <div id="white-block">
    <h1 id="white-block-h1" class="display-3">
      ONLY THE MOST PRETENTIOUS CINEPHILES NEED SIGN UP.
    </h1>
  </div>
<br>
  <div id="sign-up-in">
    <br>
    <a class="btn btn-lg rounded-0" href="/users/new" role="button">SIGN UP</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
    <a class="btn btn-lg rounded-0" href="/sessions/new" role="button">SIGN IN</a>
  </div>

</div>

<!-- Add More Parallax Sections Here -->

<!-- Footer Section -->

</body>
