<head>

</head>
<body style="background:
  url('https://i.imgur.com/MduJ0iP.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter:grayscale(100%);
  filter:contrast(110%) grayscale(100%);,
  <!-- alt image -->
  url('http://media.giphy.com/media/njYrp176NQsHS/giphy.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter:grayscale(100%);
  filter:contrast(110%) grayscale(100%);
  ">

    <div class="centered" style="text-align:center">
      <p style="color: white; font-family:'Roboto Mono', monospace ; font-weight: 700 ; font-size: 35px;">404 Not Found</p>
    </div>


  </div>

</body>
