<head>
  <style type="text/css">
    #add-watched-button {
      font-family: 'Roboto Mono', monospace;
      font-size: 15px;
      font-weight: 700;
      color: black;
      border-color: black;
      border-width: 2px;
    }
    #add-to-watch-button {
      font-family: 'Roboto Mono', monospace;
      font-size: 15px;
      font-weight: 700;
      color: black;
      border-color: black;
      border-width: 2px;
    }

    #add-watched-button:hover {
      background-color: #009874;
    }

    #add-to-watch-button:hover {
      background-color: #009874;
    }

  </style>
</head>

<body style="background:pink">

<%= erb :_header %>

<div class="container" style="border: 5px solid black; margin-top: 40px; width: 700px; background: white">

  <div style="margin-top: 10px">
    <h1 style="text-align:center; font-family: 'Roboto Mono', monospace;">SEARCH FOR FILMS</h1>
    <hr style="border: 3px solid black">
  </div>

  <div style="text-align:center;">
    <div style="display:inline-block;">
      <input style="border: 2px solid black; outline: none; text-align: center; font-family: 'Roboto Mono', monospace; font-size: 18px;" type="text" id="film" placeholder="SEARCH">
      <button style="border: 2px solid black; font-size: 18px" id="search" onclick="search()"><i class="fa fa-search"></i></button>
    </div>
  </div>

  <br>
  <!-- RESULTS RETURNED-->

  <div class="text-center">
    <p style="font-family: 'Roboto Mono', monospace; font-size: 16px;" id="numFilms" style="text-align:center"></p>
  </div>

  <div class="text-center">
    <select style="font-family: 'Roboto Mono', monospace; font-size: 16px; border:2px solid black; display:block; margin: 0 auto;" id="films" onchange="getCardInfo()">
    </select>
  </div>

  <br>

  <div class="card" style="width: 30rem;margin: 0 auto; float:none; margin-top:10px; margin-bottom: 10px; border: 3px solid black; border-radius: 0px; font-family: 'Roboto Mono', monospace; font-size: 16px;">
    <div class="card-body">
      <div class="row">
        <div class="col text-left">
          <h4 id="cardTitle" style="text-align:center; "></h4>
          <br>
          <div style="height:50%; overflow-y: auto">
            <p style="font-size:12px" id="overView"></p>
          </div>
        </div>
        <div class="col text-right">
          <div id="cardPoster" style="text-align:right"></div>
          <img id="posterImg"></img>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col text-center">
          <button id="add-watched-button" type="button" class="btn btn-outline-primary rounded-0" onclick="addFilmToWatched()">+'Watched' list</button>
          <button id="add-watched-button" type="button" class="btn btn-outline-primary rounded-0" onclick="addFilmToToWatch()">+ 'To-Watch' list</button>
        </div>
      </div>

    </div>
  </div>
  <br>
  <br>
</div>
<br>
<br>
</body>
