<%= erb :_header %>
<div class="container">
  <div class="col-sm-9 col-md-7 col-lg-3 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Sign Up</h5>
        <hr/>
        <form name="sign-up" id="sign-up" class="form-signin" action="/users/new" method="POST" onsubmit='event.preventDefault(); return newUser();'>
            <!-- <div class="form-label-group">
              <input type="name" name="inputName" class="form-control" placeholder="Name" required autofocus>
            </div> -->
            <br/>
            <div class="form-label-group">
              <input id="email" type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <br/>
            <div class="form-label-group">
              <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
            </div>
          <hr>
          <button class="btn btn-md btn-primary btn-block" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function newUser(){
    let email = document.getElementById("email").value
    $.get('/user-exists', {email:email}, function(data, status, xhr){

    })
    .done(function(data) {
      document.forms['sign-up'].submit();
    })
    .fail(function(jqxhr, settings, ex) {
      alert('failed, ' + jqxhr.responseText);
      // returnToPreviousPage();
      return false;
    });
  }
</script>
