<div class="jumbotron" style="background-image: url('https://www.theurbanwire.com/wp-content/uploads/2012/05/avengers.jpg');   background-repeat: no-repeat; background-size:cover;">

  <img src="https://pbs.twimg.com/profile_images/735242324293210112/H8YfgQHP_400x400.jpg" width="200px" alt="..." class="img-thumbnail">
  <p style="margin-top: 5px; color: #Ff0000;">Test@TestSite.com </p>
  <button type="button" class="btn btn-success" style="margin-top: 5px;">Follow</button>

</div>

<div class="card-body" style="width: 18rem;   margin: 0 auto; float: none; margin-bottom: 10px;">
    <div class="btn-group" role="group" aria-label="list-group">
        <button href="#watched" type="button" class="btn btn-secondary" data-toggle="collapse">
          <a style="color:white" href="/user_profile/watched"> Watched </a>
        </button>
        <button href="#to-watch" type="button" class="btn btn-secondary" data-toggle="collapse">
          <a style="color:white" href="/user_profile/to_watch"> To Watch </a>
        </button>
      </div>
</div>
