<%= erb :_header %>
<div class="jumbotron" style="background-image: url('https://www.theurbanwire.com/wp-content/uploads/2012/05/avengers.jpg');   background-repeat: no-repeat; background-size:cover;">

  <img src="https://pbs.twimg.com/profile_images/735242324293210112/H8YfgQHP_400x400.jpg" width="200px" alt="..." class="img-thumbnail">
  <p style="margin-top: 5px; color: #Ff0000;">Test@TestSite.com </p>
  <button type="button" class="btn btn-success" style="margin-top: 5px;">Follow</button>

</div>

<div class="card-body" style="width: 18rem;   margin: 0 auto; float: none; margin-bottom: 10px;">

    <div class="btn-group" role="group" aria-label="list-group">
        <button onclick="watched()" type="button" class="btn btn-secondary" data-toggle="collapse">
          <a style="color:white"> Watched </a>
        </button>
        <button onclick="toWatch()" type="button" class="btn btn-secondary" data-toggle="collapse">
          <a style="color:white"> To Watch </a>
        </button>
      </div>
</div>

<div id="container">
  <div id="to-watch"></div>
  <div id="watched"></div>
</div>

<script type="text/javascript">

  function toWatch(){
    removeElement("watched")
    let watched = document.createElement("div")
    watched.id = "watched"
    document.getElementById("container").appendChild(watched)
    console.log('/user_profile/to-watch');
    $.get('/<%= @id %>/user_profile/to-watch', function(data){
      document.getElementById("to-watch").innerHTML = data
    })
  }

  function watched(){
      removeElement("to-watch")
      let to_watch = document.createElement("div")
      to_watch.id = "to-watch"
      document.getElementById("container").appendChild(to_watch)
      $.get('/<%= @id %>/user_profile/watched', function(data){
      document.getElementById("watched").innerHTML = data
    })
  }
  function removeElement(elementId) {
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}
</script>
